body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
} 

.libro {
    margin: 1rem 0;
}

.libro .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.libro .info h4, .libro .info p {
    margin: 0.2rem;
}

.mediaPrezzi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mediaPrezzi h2:last-of-type {
    margin-left: 1rem;

}